body{
  margin: 0;
  padding: 0;
}
header{
  background-color: rgba(8,86,231,1);
  padding: 10px 10px 10px 10px;
}

.topnav h1{
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
}

.topnav li{
  display: inline-block;
}

.topnav ul{
  text-align: center;
}

.topnav ul a{
  color: #f2f2f2;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
  margin-right: 5px;
  margin-left: 0px;
}

div.dairy{
  outline: 2px solid black;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
div.placeholder{
  overflow: hidden;
  width: 225px;
  height: 150px;
  display: inline-block;
}
div.container{
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-gap: 20px;
  justify-content: center;
}

@media only screen and (min-width: 575px) {
  .topnav ul a{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  div.container{
    grid-template-columns: auto auto auto;
  }
  .topnav ul a{
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1000px) {
  div.container{
    grid-template-columns: auto auto auto auto;
  }
  .topnav ul a{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1500px) {
  div.container{
    grid-template-columns: auto auto auto auto;
  }
  .topnav ul a{
    margin-left: 75px;
    margin-right: 75px;
  }
}


#searchinput{
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 60%;
}
